{% load static %}

<!-- footer area start  -->
<footer data-background="" class="footer1-bg">
    <div class="copyright-area copyright1-area">
        <div class="container">
            <div class="copyright1-inner">
                <div class="copyright-text copyright1-text">
{#                    Tüm hakları saklıdır#}
                    ©2023 MAMİZYA
                </div>
                <div class="copyright-link">
                    <a class="text-btn">Tüm hakları saklıdır</a>
                </div>
                <div class="social-wrapper">
                    <div class="social__links">
                        <ul>
                            <li><a target="_blank" href="{{ contact.telegram }}"><i class="fab fa-telegram"></i></a></li>
                            <li><a target="_blank" href="{{ contact.instagram }}"><i class="fab fa-instagram"></i></a></li>
                            <li><a target="_blank" href="{{ contact.whatsapp }}"><i class="fab fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end  -->